* {
    margin: 0;
}

.bodyflex{
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-color: white;
    width: 5%;
    height: 100vh;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-icons {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.bottom-icons {
    display: flex;
    flex-direction: column;
}

.icon {
    height: 32px;
    width: 32px;
    margin-bottom: 12px;
    margin-left: 20px;
    border-radius: 8px;
    background-color: #F0F0F0;
    padding-top: 10px;
}

#bell-icon {
    background-color: #FF6666;
}

.icon:hover {
    background-color: #C0C0C0;
    cursor: pointer;
    color: white;
}

i {
    /* margin-top: 7.5px; */
    margin-left: 7.5px;
}

#bell-icon > i {
    color: white;
}

.forecast-box {
    background-color: navy;
    width: 75%;
    height: 100vh;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 10px;
    border-radius: 12px;
}

.city-box {
    background-color: blue;
    width: 20%;
    height: 100vh;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 10px;
    border-radius: 12px;
}